@charset"UTF-8";* {
    -webkit-tap-highlight-color: transparent
}

html,body {
    margin: 0;
    width: 100%;
    overflow: hidden
}

@media only screen and (min-width: 320px) and (max-width:356px) {
    html {
        font-size:42.67px
    }
}

@media only screen and (min-width: 357px) and (max-width:399px) {
    html {
        font-size:47.6px
    }
}

@media only screen and (min-width: 400px) and (max-width:539px) {
    html {
        font-size:53.3px
    }
}

@media only screen and (min-width: 540px) and (max-width:639px) {
    html {
        font-size:72px
    }
}

@media only screen and (min-width: 640px) and (max-width:679px) {
    html {
        font-size:85.33px
    }
}

@media only screen and (min-width: 680px) and (max-width:719px) {
    html {
        font-size:90.67px
    }
}

@media only screen and (min-width: 720px) and (max-width:749px) {
    html {
        font-size:96px
    }
}

@media only screen and (min-width: 750px) {
    html {
        font-size:100px
    }
}

::-webkit-input-placeholder {
    font-family: PingFangSC-Medium;
    font-size: .36rem;
    color: #c5c8cc;
    letter-spacing: 0;
    line-height: .6rem
}

.g-bd {
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.m-header {
    display: none
}

.m-container {
    margin: 0 auto;
    position: relative;
    padding-top: .8rem
}

.m-cnt .inputbox,.m-cnt .inputbox.active,.m-cnt .inputbox.error-color {
    border: 0
}

.m-cnt .inputbox {
    height: 1.28rem;
    line-height: 1.28rem
}

.m-cnt .u-input {
    width: 100%
}

.m-cnt .u-input input {
    width: 100%;
    height: .6rem;
    font-size: .36rem;
    line-height: .6rem;
    margin: .39rem 0;
    padding-left: 0;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 0;
    font-family: PingFangSC-Medium;
    color: #848a90;
    font-weight: normal
}

.m-cnt .u-input ::-webkit-input-placeholder {
    font-family: PingFangSC-Medium;
    font-size: .36rem;
    line-height: .6rem;
    height: .6rem;
    color: #c5c8cc;
    letter-spacing: 0
}

.m-cnt .u-input input[type="password"] {
    height: .6rem;
    font-size: .36rem;
    line-height: .6rem;
    letter-spacing: 0
}

.m-cnt .inputbox:after,.m-cnt .inputbox.active:after,.m-cnt .inputbox.error-color:after,.m-ologin .otip:after,.m-cnt #login-form .m-sug .itm:last-child:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 200%;
    height: 1px;
    background: #ebebeb;
    -webkit-transform: scale(0.5)
}

.fur-change-email {
    display: none
}

.m-cnt .m-ckcnt .inputbox.ckimgbox:after {
    display: none
}

.ncpt_widget .ncpt_hint_txt {
    color: #a7b0b8!important;
    font-size: .21rem!important
}

.m-cnt .u-logo {
    display: none
}

.m-cnt {
    padding: 0 .36rem
}

.u-loginbtn:hover,.u-loginbtn {
    position: relative;
    background-image: linear-gradient(-135deg,#0dda5b 0,#1ec864 100%);
    text-indent: 0
}

.u-loginbtn:active {
    color: #fff
}

.u-btn-loading {
    background-image: linear-gradient(-135deg,#0dda5b 0,#1ec864 100%)!important
}

.m-cnt .u-logo {
    display: none
}

.m-cnt .u-tip {
    position: absolute;
    top: 0;
    right: .1rem;
    width: .28rem;
    height: 100%;
    margin: 0;
    padding: 0
}

.m-cnt .u-clear {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAp1JREFUSA29lr9v2kAUx8/mh0BCMGQAxRMC0REKqtQOVafskeiUvyVj/pYubaXsnaoMrVRBYUD8WMqAUwnhCQkGI+j7XnyXs302kJCeZHz33rv34fne3T2DHdB6vd7r7XZ7Sc97MrcMwzjHtN1ud08v2zTNO3puG43Gb8jjmhGn7Ha7HwlyQzav4uwU3ZjA181m84si83W1wH6/X95sNp8ogrc+6wMH9AV+JpPJq3q9/ic4JQSkqD5QVF/J8CxofOTYoWjbFO13dZ4P6MG+kUFKNXpG3yXohQqVQHxG13V/kfPnRhb8f04qlXojPq8ptFizF4DB/Znnm6M4ENn41AThXvb8wDcYMONAL/W109LpNCuVSoyyTqsXwmw2y4rFIqMMFSLfWzAMbGoKuevTKgPALMti6/WaTSYTRraK9qGby+VYtVpliUSCDYdDtlqtQjYQ0J9umkS+1Go94WKx4DBEUKvVQpGqMMdxImFwBxaAOK4iGyJCZIgwCA3CptNppB8owMIaWrFWpNRBC4WC/IyIbB/MY1imOIiPhVYqFb5mR8CQUOdyH+4DQo9IbdvGLcGzEePZbHbIVG5D83YmPbhiDmpYs3K5LGHYKrpEinH2FxHaMQZSFUyQwWCgTSQ5Qd/B3Wne6XWP0iAMCaJLpH2HA1gA3j66DvewFcSmDiaIDkr+wk48CVimVxaMo6zy+XxsNgahmUwmytUYLH5AEvmaNuVnneV8PmfL5TL2BAF0NBoxwKKONTDgX560nU7nB2Xsk0oK3R9VZSg5Wq3WO8jkB6cFv6KxoxqeqO94vrk7CcSNTGG3SeqeCAQ3KDHa4raHQAIxQO1BBhfUPUWkKKJ89QwYcg0xEO2/lokCijfKAsrely+EVSj6pyz1/wFrT2LaPTPA3AAAAABJRU5ErkJggg==) no-repeat 50% 50%;
    background-size: .28rem .28rem
}

.m-cnt .u-success {
    width: .28rem;
    height: .28rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    margin: 0;
    -webkit-tap-highlight-color: transparent
}

.m-cnt .u-suc {
    width: .88rem;
    height: .88rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    margin: 0;
    -webkit-tap-highlight-color: transparent
}

.u-loginbtn {
    height: .92rem;
    background-image: linear-gradient(-135deg,#0dda5b 0,#1ec864 100%);
    box-shadow: 0 .04rem .16rem 0 rgba(30,200,100,0.30);
    border-radius: .08rem;
    border: 0;
    font-family: PingFangSC-Medium;
    font-size: .34rem;
    color: #fff;
    letter-spacing: 0;
    line-height: .92rem
}

.m-cnt .m-unlogin {
    padding: .1rem 0 1.4rem
}

.loginbox {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: .18rem;
    width: 100%
}

.m-cnt .m-nerror .ferrortail,.m-cnt .m-nerror .ferrortail2 {
    float: left
}

.m-cnt .m-nerror .ferrorhead,.m-cnt .m-nerror .ferrorhead2 {
    width: 6.25rem
}

.m-cnt .m-nerror {
    top: -31px;
    left: -1px;
    color: #fff;
    border-radius: 2px;
    font-size: 0;
    margin-bottom: 0;
    margin-top: .2rem
}

.m-cnt .m-nerror .ferrortail,.m-cnt .m-nerror .ferrortail2 {
    display: none
}

.m-cnt .m-nerror .ferrorhead,.m-cnt .m-nerror .ferrorhead2,.m-cnt .m-nerror .ferrorhead3 {
    width: 3rem;
    margin-top: -3px;
    color: #fd5722;
    font-size: .2rem;
    line-height: .3rem;
    vertical-align: top;
    word-break: break-all
}

.m-footer {
    display: none
}

.m-cnt .u-tab {
    position: absolute;
    bottom: 1.4rem;
    right: 0;
    padding: 0
}

.m-cnt .u-tab .tab0,.m-cnt .u-tab .tab1 {
    background: 0;
    font-family: PingFangSC-Regular;
    font-size: .26rem;
    color: #2ea0ff;
    letter-spacing: 0;
    line-height: .6rem;
    height: .6rem
}

.m-cnt .m-unlogin .forgetpwdReg {
    float: left!important;
    height: .6rem;
    line-height: .6rem;
    text-decoration: none;
    cursor: pointer;
    color: #2ea0ff!important;
    font-size: .26rem;
    font-family: PingFangSC-Regular
}

.m-cnt .m-unlogin {
    height: .6rem;
    line-height: .6rem
}

.m-cnt .pcbtn a,.m-cnt .pcbtn a:hover {
    display: block;
    width: 2.3rem;
    height: .75rem;
    text-align: center;
    color: #fff;
    font-family: PingFangSC-Regular;
    font-size: .3rem;
    background: #fff;
    line-height: .75rem;
    background-image: linear-gradient(-134deg,#2fc3ff 0,#2ea0ff 100%);
    box-shadow: 0 .04rem .08rem 0 rgba(46,160,255,0.3);
    border-radius: .05rem
}

.m-cnt .pcbtn a:active,.m-cnt .pcbtn a.disable,.m-cnt .pcbtn a.disable:hover,.m-cnt .pcbtn a.disable:active {
    background: #d5d8d6;
    color: #fff;
    box-shadow: none
}

.m-pccnt {
    position: relative;
    margin-top: 0
}

.m-cnt .m-pc {
    width: 100%
}

.m-cnt .pcbtn {
    position: absolute;
    right: 0;
    top: .3rem;
    z-index: 100
}

.m-cnt .m-pc .pcin {
    width: 5.33rem
}

.mbtoggleitl-box {
    display: none
}

.yidun.yidun--light.yidun--float .yidun_panel {
    top: 40px
}
